.Post {
  padding-bottom: 12px;
  border-bottom: solid rgba(108, 108, 108, 0.322) 1px;
}

.Post__info {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.Post__info img {
  width: 40px;
  height: 40px;
}

.user-info {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-img {
  padding: 0 8px;
}

.user-info p {
  margin: 0;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.user-location {
  font-size: 14px;
}

.Post__img {
  max-width: 100%;
}

.Post__img img {
  min-width: 100%;
  max-width: 100%;
  height: 375px;
  border-radius: 10px;
}

.Post__comment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.liked {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 11px;
}

.Post__comment__user-img {
  width: 20px;
  height: 20px;
}

.Post__comment__user-username {
  font-size: 11px;
  font-weight: bold;
}

.Post__comment__user-content {
  font-size: 11px;
}

.Post__comment__user-username,
.Post__comment__user-content {
  margin: 0;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .Posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .Posts {
    margin: 0 20px;
    max-width: 100%;
  }

  .Post {
    width: 100%;
  }
}
