.Chat {
  width: 100%;
}

.Chat__info {
  display: flex;
  align-items: center;
  padding: 2%;
  font-size: 0.8rem;
  gap: 10px;
  box-shadow: 0 4px 10px -2px gray;
}

.Chat__info img {
  width: 50px;
  height: 50px;
  border: solid rgb(0, 0, 0) 1px;
  border-radius: 50%;
}

.Chat__status {
  color: rgb(0, 150, 0);
  font-size: 1em;
}

.Chat__messages {
  min-height: 50vh;
  padding: 2%;
}

.Chat__message {
  margin-bottom: 30px;
}

.my-message {
  background-color: rgb(127, 141, 127);
  border-radius: 20px;
  text-align: right;
  color: white;
  padding: 15px;
  margin-left: 50%;
  box-shadow: 2px 2px 5px black;
}

.your-message {
  background: linear-gradient(
    90deg,
    rgb(5, 0, 107) 0%,
    rgb(14, 14, 194) 35%,
    rgb(165, 0, 143) 100%
  );
  border-radius: 20px;
  text-align: left;
  color: white;
  padding: 15px;
  margin-right: 50%;
  box-shadow: 2px 2px 5px black;
}

.Chat__type {
  width: 100%;
  padding: 5% 2%;
}

.Chat__type input {
  width: 100%;
  height: 50px;
  border: solid rgb(107, 107, 107) 1px;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
}
