.Topbar {
  max-width: 100%;
  height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  border-bottom: solid rgba(199, 199, 199, 0.504) 1px;
}

.Logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.CameraIcon,
.icons {
  width: 100%;
  gap: 20px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.CameraIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .Topbar {
    padding: 8%;
  }
}
