.Topbar {
  max-width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.Logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.CameraIcon,
.icons {
  width: 100%;
  gap: 20px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.CameraIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
